Flask==1.0.2
Flask-Cors==3.0.4
Flask-MySQL==1.4.0
Flask-MySQLdb==0.2.0
Jinja2==2.10
passlib==1.7.1
path.py==11.0.1
pathlib2==2.3.2
pep8==1.7.1
pkginfo==1.4.2
py==1.5.3
PyMySQL==0.9.3
requests==2.18.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
WTForms==2.2.1
gunicorn==19.9.0
Flask-SQLAlchemy==2.3.2
Flask-Login==0.4.1
fstring==1.7.4
