
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../static/styles/signup.css"
</head>
<title>Change Password</title>
{% block body %}
<div class = "container">
  
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <h1>Change Password</h1>
{% from "_formhelpers.html" import render_field %}
  <form method = "POST" action="">

    <div class="form">
        {{ render_field(form.password,class="new password") }}
    </div>
       <div class="form">
        {{ render_field(form.confirmpassword,class="confirm password") }}
    </div>
    <input name = "submit_button" type="submit" value = "Submit">


     </form>
</div>
{% endblock %}

</html>
