<!DOCTYPE html>
<style>
    body{
  margin:0;
  padding:0;
  background-color: #FBEAEB;
  background-size:cover;
  background-position:center;
  font-size: 16px;
  font-family: Geneva, sans-serif;
  font-weight: 400;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4511e;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


</style>
<html>
<head>
</head>
<body>
<ul>
  <li><a href={{ url_for('discussionhome') }}>Home</a></li>
  <li><a href="">Profile</a></li>
  <li><a href="">Account</a></li>
  <li style="float:right"><a href={{ url_for('logout') }}>Logout</a></li>
</ul>

<div class="message_container">

</div>
</body>
</html>