<!DOCTYPE html>
<style>
    body{
  margin:0;
  padding:0;
  background-color: #FBEAEB;
  background-size:cover;
  background-position:center;
  font-size: 16px;
  font-family: Geneva, sans-serif;
  font-weight: 400;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4511e;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


</style>
<html>
<head>
</head>
<body>
<ul>
  <li><a href={{ url_for('discussionhome') }}>Home</a></li>
  <li><a href={{ url_for('profile') }}>Profile</a></li>
  <li><a href={{ url_for('account') }}>Account</a></li>
  <li style="float:right"><a href={{ url_for('logout') }}>Logout</a></li>
</ul>

<div class="card">
  <img src="user.jpg" style="width:100%">
  <h1>Alexandre Arquette</h1>
  <p class="title">Change my mind.</p>
  <p>#1 Debater</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href = {{ url_for('edit_profile') }}>
  <p><button> Edit Profile </button></p>
</div>


<div class="message_container">

</div>
</body>
</html>