<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ListenUp </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="../static/styles/index.css">
  </head>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <body>
    <div class = "main">
      <h1 class = "title">
        ListenUp
      </h1>
      <div class="container">
        <a href = {{ url_for('login_page') }}>
        <button class="button" name ="login_button"><span>Login</span></button>
      </a>
      <a href = {{ url_for('signup_page') }}>
        <button class = "button" name = "signup_button"><span>Sign up </span></button>
      </a>
      </div>
</div>
  </body>
</html>
