
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../static/styles/signup.css"
</head>
<title>Sign Up</title>
{% extends "layout.html" %}
{% block body %}
<div class = "container">
  <h1>Register</h1>
{% from "_formhelpers.html" import render_field %}
  <form method = "POST" action="">
    <div class="form">
        {{ render_field(form.username,class="username") }}
    </div>
       <div class="form">
        {{ render_field(form.email,class="email") }}
    </div>
      <div class="form">
        {{ render_field(form.password,class="password") }}
    </div>
      <div class="form">
        {{ render_field(form.confirmpassword,class="confirmpassword") }}
    </div>
    <input type="submit" value = "Create account">


     </form>
</div>
{% endblock %}

</html>


